# Copie este arquivo para .env.local e preencha com os dados do seu projeto Supabase.
# Onde encontrar: painel do Supabase > Settings > API Keys
NEXT_PUBLIC_SUPABASE_URL=https://ddozupwgwaxkwxtxitqi.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FvXCIEEvgT25ZeM5Qlyazw_0Ujn6bhw
